:root {
    --main-font-1:'Cantarell', sans-serif;
  }


body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.navb{
    display: flex; 
    position: relative;
    flex-direction: column;
    /*justify-content: space-between;
    height:90px;
    */
    align-items: center;
    background-color: burlywood;
    height:80px
  }

.title{
    margin:0 auto;
    font-size:2rem ;
}

.navb-links{
    width:100% ;
    position:absolute;
    top:48px; 
}

.navb-links-ul{
    display:flex;
    justify-content:center;
    margin:0;
    padding:0;

}

li{
    list-style-type: none;
    margin-left:10px;
    margin-right:10px;
}

li:hover{
    color: 	#0000FF;
    font-size: 1.1em;
    cursor:pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #1a1717;
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:  	#0275d8 ;
    color:white
  }

.form-div{
    text-align:center
}

.lottery-btn{
    padding:10px;
    
}

.cent{
    text-align: center;
}

.take-part{
    text-align: center;
}

.jumbotron-extra{
    border:solid 2px #7D7C7C;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.35)

}
.users-container{
    text-align:center
}
.enter-lottery{
    margin-top:30px;
    /*font-family:var(--main-font-1)*/
}
.payment-title{
    text-align:center;
}

.entries-title{
    text-align:center
}

.label-username{
    margin:0 0 0 6px;
    text-decoration: underline 1px;
    margin-bottom:2px;
}

.input-username{
    width:65%;
    padding:8px 20px;
    border:solid 2px #767575;
    border-radius:6px;
    margin:0 0 10px 0;
}

.fail-container{
    background-color:#E76769;
    border-radius:5px;
    text-align:center;
    border:solid #7D7C7C 1px;
    color:white
}

.back-to-entries{
    cursor:pointer;
    text-decoration: underline;
    float:right;
    font-size:1.2em
}
